@font-face {
    font-family: 'JetbrainsMono';
    src: url('../../../fonts/JetbrainsMono/JetBrainsMono[wght].ttf') format('truetype');
    font-style: normal;
}

@font-face {
    font-family: 'JetbrainsMonoItalic';
    src: url('../../../fonts/JetbrainsMono/JetBrainsMono-Italic[wght].ttf') format('truetype');
    font-style: italic;
}
