###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
/.phpunit.cache/
###< phpunit/phpunit ###

###> symfony/webpack-encore-bundle ###
/public/build/
npm-debug.log
/assets/vendor/
###< symfony/webpack-encore-bundle ###

###> Yarn / Node.js ###
/node_modules/
yarn-error.log
.yarn-integrity
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
###< Yarn / Node.js ###

###> phpstan/phpstan ###
phpstan.neon
###< phpstan/phpstan ###

###> friendsofphp/php-cs-fixer ###
/.php-cs-fixer.php
/.php-cs-fixer.cache
###< friendsofphp/php-cs-fixer ###

###> lighthouse ###
/.lighthouseci/
###< lighthouse ###

###> vscode ###
/.vscode/
###< vscode ###
