parameters:
    level: 9
    paths:
        - src
        - tests
    excludePaths:
        - src/Kernel.php
        - tests/bootstrap.php
    tmpDir: var/cache/phpstan
    symfony:
        containerXmlPath: var/cache/test/App_KernelTestDebugContainer.xml
    doctrine:
        objectManagerLoader: tests/object-manager.php
    ignoreErrors:
        # Exemple : ignore les erreurs sur les fixtures
        #- '#Cannot call method .* on Doctrine\\Common\\DataFixtures\\.*#'
includes:
    - vendor/phpstan/phpstan-symfony/extension.neon
    - vendor/phpstan/phpstan-doctrine/extension.neon
