// Admin styles

// Import framework base styles
@use '../../framework/styles/base/reset';
@use '../../framework/styles/abstract/variables';
@use '../../framework/styles/utils/bundle';

@use 'base/variables' as base_variables;
@use 'base/fonts';
@use 'layout/base';
@use 'layout/header';
@use 'layout/sidebar';
@use 'layout/footer';
@use 'layout/main';

// Components
@use 'components/collapsible';

// Forms
@use 'forms/label';
@use 'forms/input';
@use 'forms/password';
@use 'forms/checkbox';
@use 'forms/button';

// Pages
@use 'pages/login';

body {
    font-family: 'JetbrainsMono', monospace;
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.5;
}
